[Unit]
[Service]
WorkingDirectory=/locust
ExecStart=/usr/local/bin/locust -f /locust/locust.py --master
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target